<md-dialog>
  <div ng-controller="EventCtrl" layout="column" ng-cloak class="md-inline-form">
    <md-toolbar>
      <div class="md-icon-box">
        <h2> Create ToDo</h2>
      </div>
    </md-toolbar>
  </div>
  <md-content layout-padding>
    <div>
      <form name="TodoForm">
        <div layout-gt-xs="row" md-colors="{background: '{|todo.color|}-background-hue-3'}">
          <md-input-container flex>
            <label>Title</label>
            <input ng-model="todo.title" required name="title" ng-disabled="disabled">
            <div ng-messages="TodoForm.title.$error">
              <div ng-message="required">
                You must give the task a title
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <div class="chips-container" flex>
            <md-chips ng-model="todo.tags" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match=false>
              <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)"
                md-item-text="item.title" placeholder="Tags" ng-disabled="disabled">
                <span md-highlight-text="searchText">{|item.title|}</span>
              </md-autocomplete>
              <md-chip-template custom-chip>{|$chip.title|}</md-chip-template>
              <input type="text" placeholder="Tags" ng-disabled="disabled">
            </md-chips>
          </div>

          <md-input-container>
            <md-select ng-model="todo.color" aria-label="ToDo Color" ng-disabled="disabled">
              <md-option ng-repeat="color in colors" ng-value="color" md-colors="{background: '{|color|}' + '-background-500'}" ng-click="changeColor(color)">
                {|color|}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <mdp-date-picker ng-model="todo.due_date" mdp-placeholder="Due Date" mdp-ok-label="Accept" mdp-cancel-label="Cancel" mdp-format="DD-MM-YYYY"
            mdp-clear-on-cancel="false" ng-disabled="disabled"></mdp-date-picker>
          <mdp-time-picker ng-model="todo.due_date" mdp-placeholder="Due Time" mdp-ok-label="Accept" mdp-cancel-label="Cancel" mdp-format="HH:mm"
            mdp-auto-switch="true" mdp-ampm="false" mdp-clear-on-cancel="false" ng-disabled="disabled"></mdp-time-picker>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Description</label>
            <textarea ng-model="todo.description" md-maxlength="200" md-select-on-focus ng-disabled="disabled"></textarea>
          </md-input-container>
        </div>

        <div layout-gt-xs="row" layout-align="center">
          <md-radio-group layout="row" ng-model="todo.priority" ng-disabled="disabled">
            <md-radio-button value=1>1</md-radio-button>
            <md-radio-button value=2>2</md-radio-button>
            <md-radio-button value=3>3</md-radio-button>
            <md-radio-button value=4>4</md-radio-button>
            <md-radio-button value=5>5</md-radio-button>
          </md-radio-group>
        </div>

        <md-dialog-actions ng-show="state == 0">
          <md-button ng-click="viewBack()">
            Back
          </md-button>
          <span flex></span>
          <md-button ng-click="edit()">
            Edit
          </md-button>
        </md-dialog-actions>
        <md-dialog-actions ng-show="state == 1">
          <md-button ng-click="cancel()">
            Cancel
          </md-button>
          <span flex></span>
          <md-button type="submit" ng-click="done()">
            Accept
          </md-button>
        </md-dialog-actions>
        <md-dialog-actions ng-show="state == 2">
          <md-button ng-click="editCancel()">
            Cancel
          </md-button>
          <span flex></span>
          <md-button type="submit" ng-click="editDone()">
            Accept
          </md-button>
        </md-dialog-actions>
      </form>
    </div>
  </md-content>
</md-dialog>
