{% extends "template.html" %} {% block body%}
<script type="text/javascript" src="{{ url_for('static', filename='js/insert_into_event.js') }} "></script>
<div class="containter">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Title" name="title" type="text" id="title">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <div class="chips" name="tags" id="tags_id"></div>
          <label for="tags">Tags</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input type="text" class="datepicker" name="begin_date">
        </div>
        <div class="input-field col s3">
          <input type="text" class="timepicker" name="begin_time">
        </div>
        <div class="input-field col s3">
          <input type="text" class="datepicker" name="end_date">
        </div>
        <div class="input-field col s3">
          <input type="text" class="timepicker" name="end_time">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea class="materialize-textarea" id="textarea1" name="description"></textarea>
          <label for="textarea1">Description</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" type="text" name="contact">
          <label for="contact">Contact</label>
        </div>
      </div>
      <div class="row">
        <a href="#" id="done" class="waves-effect waves-light btn">
          Done
        </a>
      </div>
    </form>
  </div>
</div>
<a href="#" id="test" class="waves-effect waves-light btn">Test</a>
<div class="card-panel teal lighten-2" id="test-res"></div>
{% endblock %}