{% extends "template.html" %} {% block body %}
  <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Hello" name="first_name" type="text" id="fn">
        <label for=first_name>First Name</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Last Name" name="last_name" type="text" id="ln">
        <label for=last_name>Last Name</label>
      </div>
    </div>
    <div class="row">
      <a href="#" id="done">
        <div class="btn">
          Hello
        </div>
      </a>
    </div>
  </form>
</div>
<div id="result" class=></div>
{% endblock %}
