<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PACalendar</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/angular-material-event-calendar/dist/angular-material-event-calendar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/md-pickers/dist/mdPickers.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
  <script src="{{ url_for('static', filename='js/modernizr-custom.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-aria/angular-aria.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-animate/angular-animate.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-messages/angular-messages.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-material/angular-material.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/md-pickers/dist/mdPickers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body ng-app="PA-App" ng-cloak>

  <!--Scripts-->
  <script type="text/javascript">

  </script>
  <div ng-controller="MainCtrl as mc" ng-cloak>
    <div flex-xs flex-gt-xs="25" layout="column">
      <md-button class="md-primary md-raised" ng-click="createEvent($event)">
        Create an Event
      </md-button>
      <md-button class="md-primary md-raised" ng-click="createTag($event)">
        Create a Tag
      </md-button>

      <md-card>
        <md-card-title>
          <!-- <div class="md-toolbar-tools"> -->
          <span flex>To-Do</span>
          <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.title"
            placeholder="Tags" ng-disabled="disabled">
            <span md-highlight-text="searchText">{|item.title|}</span>
          </md-autocomplete>
          <md-button class="md-icon-button launch" ng-click="createToDo($event)">
            <i class="material-icons">add</i>
          </md-button>
          <!-- </div> -->
        </md-card-title>
        <md-card-content style="height: 600px; overflow-y: auto">
          <md-list class="md-dense" flex>
            <md-list-item ng-repeat="todo in todos" ng-class="md-primary" ng-click="viewTodo($event, todo)" oncontextmenu="showrightclick(todo.id)"
              class="md-2-line">
              <md-checkbox aria-label="completed Checkboxes" ng-model="todo.completed" ng-change="checkTodo($event, todo)"></md-checkbox>
              <div class="md-list-item-text">
                <span>{|todo.title|}</span>
                <span class="todo-date-time">{| checkDate(todo.due_date) |}</span>
                <div layout="row" layout-padding layout-wrap layout-fill ng-cloak style="padding-left:0px;padding-top:0px;">
                  <md-whiteframe id="todotags" style="background-color:{| getColor(tag.color) |};" class="md-whiteframe-1dp" ng-repeat="tag in todo.tags">{| tag.title |} </md-whiteframe>
                </div>
              </div>
              <md-menu>
                <md-button class="md-icon-button launch" ng-click="$mdMenu.open()">
                  <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="deleteTodo($event, todo)">
                      Delete
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="25" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title>
            <div class="md-toolbar-tools">
              <span flex>To-Do</span>
              <md-button class="md-icon-button launch" ng-click="createToDo($event)">
                <i class="material-icons">add</i>
              </md-button>
            </div>
          </md-card-title>
        </md-card-title>
      </md-card>
    </div>
  </div>
</body>

</html>