<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PACalendar</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/angular-material-event-calendar/dist/angular-material-event-calendar.css') }}">
</head>

<body ng-app="PA-App" ng-cloak>

  <!--Scripts-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
  <script src="{{ url_for('static', filename='node_modules/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-aria/angular-aria.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-animate/angular-animate.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-messages/angular-messages.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-material/angular-material.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/angular-material-event-calendar/dist/angular-material-event-calendar.js') }}"></script>

  <script type="text/javascript">
    var app = angular.module('PA-App', ['ngMaterial', 'ngMessages', 'material.components.eventCalendar'])
    app.config(['$interpolateProvider', function ($interpolateProvider) {
      $interpolateProvider.startSymbol('{|');
      $interpolateProvider.endSymbol('|}');
    }]);
    app.config(function ($mdThemingProvider, $mdColorPalette) {
      $mdThemingProvider.alwaysWatchTheme(true);
      angular.forEach(Object.keys($mdColorPalette), function (color) {
        var str = "-";
        if (!color.includes(str)) {
          $mdThemingProvider.theme(color).backgroundPalette(color);
        }
      });
    });
    app.controller('MainCtrl', function ($scope, $mdDialog) {
      $scope.customFullscreen = false;
      $scope.createEvent = function (ev) {
        $mdDialog.show({
          controller: "DemoCtrl",
          templateUrl: 'create_event.html',
          parent: angular.element(document.body),
          targetEvent: ev,
          clickOutsideToClose: false,
          fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
        })
      };
      $scope.createToDo = function (ev) {
        $mdDialog.show({
          controller: "EventCtrl",
          templateUrl: 'create_todo.html',
          parent: angular.element(document.body),
          targetEvent: ev,
          clickOutsideToClose: true,
          fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
          // console.log("todo");
        })
      };
      function DialogController($scope, $mdDialog) {
        $scope.hide = function () {
          $mdDialog.hide();
        };

        $scope.cancel = function () {
          $mdDialog.cancel();
        };

        $scope.answer = function (answer) {
          $mdDialog.hide(answer);
        };
      }
    });
    app.controller('DemoCtrl', function ($scope, $mdColorPalette, $mdColorUtil, $mdColors) {
      $scope.getColor = function (color) {
        return $mdColorUtil.rgbaToHex($mdColors.getThemeColor(color))
      };
      $scope.user = {
        title: 'Developer',
        email: 'ipsum@lorem.com',
        colorChoice: 'purple',
        colorHex: null,
        tags: [],
        firstName: '',
        lastName: ''
      };
      $scope.colors = []
      for (color in $mdColorPalette) {
        var str = "-";
        if (!color.includes(str)) {
          $scope.colors.push(color);
        }
      }

      $scope.changeColor = function (color) {
        $scope.user.colorChoice = color;
        $scope.user.colorHex = $scope.getColor($scope.user.colorChoice + '-background-hue-3');
      };
    });
    app.controller("EventCtrl", function ($scope, $mdColorPalette, $mdColorUtil, $mdColors) {
      $scope.getColor = function (color) {
        return $mdColorUtil.rgbaToHex($mdColors.getThemeColor(color))
      };
      $scope.todo = {
        title: null,
        dueDate: null,
        color: 'purple',
        colorHex: null,
        completed: null,
        priority: null,
        tags: [],
        description: null
      };
      $scope.colors = []
      for (color in $mdColorPalette) {
        var str = "-";
        if (!color.includes(str)) {
          $scope.colors.push(color);
        }
      };
      $scope.changeColor = function (color) {
        $scope.todo.color = color;
        $scope.todo.colorHex = $scope.getColor($scope.todo.color + '-background-hue-3');
      };
    });
  </script>
  <div ng-controller="MainCtrl">
    <md-button class="md-primary md-raised" ng-click="createEvent($event)">
      Create an Event
    </md-button>
    <md-button class="md-primary md-raised" ng-click="createToDo($event)">
      Create a ToDo
    </md-button>
  </div>
</body>

</html>
