#todotags {
    color:white;
    margin-right:10px;
    margin-top: 0px;
    padding-top:10px;
    border-radius: 5px;
    line-height: 10px;
    height: 12px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    zoom: 60%;
}
.todo-date-time {
    color: maroon;
    text-align: right;
    flex:1;
}